{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia: {{title}}
{% endblock %}

{% block body %}
    <h1>{{title}}</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Title:</p>
        <input type="text" id="title" name="title" value = {{title}}>
        <br><br>
        <p>Content:</p>
        <textarea id="content" name="content" type='text'>
            {{ content }}
          </textarea>
          <br><br>
          <input type="submit" value="Save">
    </form>
{% endblock %}

